@font-face{ 
font-family: 'Moria';
src: url("#{resource['font:MoriaCitadel.TTF']}");
}

header {
    background-color:black;
    color:white;
    text-align:center;
	height:150px;
	width:auto;
}
nav {
    line-height:30px;
    background-color:#eeeeee;
    height:1043px;
    width:100px;
    float:left;
    padding:5px; 
}
section {
    width:350px;
    float:left;
    padding:10px; 
}
article{
    width:200px;
    border: 1px white solid;
    padding:10px;
    background-color: grey;
    margin: 10px;
}
footer {
    background-image:url("#{resource['img:bg_texture.jpg']}"); 
    color:white;
    clear:both;
    text-align:center;
    padding:5px; 
}
figure{
    display: inline-block;
}
#section1{
	font-family: 'Moria';
	text-align:center;
   	background-image:url("#{resource['img:bg_texture.jpg']}"); 
    height: auto;
    width: 80%;
}
#section2{
	font-family: 'Moria';
    background-color: lightblue;
    height: 700px;
    width: 40%;
}
#section3{
	font-family: 'Moria';
    background-color: lightgreen;
    height: 700px;
    width: 20%;
}
#section4{
	font-family: 'Moria';
    background-color: lightpink;
    height: 700px;
    width: 20%;
}
#nav1{
	font-family: 'Moria';
    line-height:30px;
   	background-image:url("#{resource['img:bg_texture.jpg']}"); 
    height:850px;
    width:10%;
    float:left;
    padding:5px; 
}
#nav2{
	font-family: 'Moria';
    line-height:30px;
    background-image:url("#{resource['img:bg_texture.jpg']}"); 
    height:850px;;
    width:10%;
    float:right;
    padding:5px; 
}
.btnSubmit{
	font-family: 'Moria';
    float: right;background-image: linear-gradient(to top right,grey,lightblue);
    border: 1px solid white;border-radius: 10px;
    width: auto;
    font-size: 15px;
}
.navMenu{
	margin-bottom: 20px;
	margin-top: 20px;
}
